// .main {
//   flex: 4 1 30rem;
//   padding: $gutter;
// }

.characters {
  display: flex;
  flex-direction: column;
  margin-bottom: $gutter;

  &__heading {
    margin-top: 0;
    border-bottom: $brand-border;
  }
}

.character-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: $gutter;
}

.characters-profile {
  display: flex;
  flex-direction: column;
  // width: calc(100% / 4 - #{$gutter});
  // padding: 0 $gutter * 2;

  &__image {
  position: relative;
  width: 100%;
  border-radius: $gutter;
  overflow: hidden;

  &:before {
    display: block;
    padding-top: 100%;
    content: '';
  }

  &__image {
    postion: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    }
  }

.character-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
