
.comics {
  display: flex;
  flex-direction: column;

  &__heading {
  margin-top: 0;
  border-bottom: $brand-border;
  }
}

.comics-list {
  display: flex;
  flex-direction: row;
  flex-wrap; wrap;
  padding-left: $gutter;
}

.comics-profile {
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 width: calc(100% / 4 - #{$gutter});
 padding: 0 $gutter $gutter * 4;
}

  &__image {
  position: relative;
  width: 100%;
  border-radius: $gutter;
  overflow: hidden;

 &:before {
   display: block;
   padding-top: 100%;
   content: '';
 }

    &__avatar {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  &__issue {
    margin: 0;
    padding-left: $gutter;

    &-number {
      margin: 0;
      padding: $gutter 0 0 $gutter;
    }
  }

    &__details {
      padding: 0 $gutter;

      &__name {
        margin: 0;
        padding: 0 0 $gutter $gutter;
      }

      &__year {
        margin: 0;
        padding: $gutter;
      }
    }

    &__button {
      align-self: center;
      width: 100%;
      margin-top: $gutter;
      padding: $gutter;
      border: 0;
      border-radius: $gutter;
      outline: 0;
      background: $brand-teal;
      color: $brand-grey;

      &:hover {
        color: $brand-red;
        cursor: pointer;
      }
    }
