.footer-container {
  margin: auto;
  background: $brand-teal;
}

.footer {
  display: flex;
  justify-content: flex-end;
  width: $max-container-width;
  margin: auto;
}

.marvel-copyright {
  padding: $gutter;
  color: $brand-light-blue;
  font-size: 1.3rem;

  &:hover {
    cursor: pointer;
  }
}
