.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $modal-screen;
  z-index: 1;
}
  &-active {
  display: flex;
  }

.modal-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 60rem;
  margin: auto;
  border-radius: 0.5rem;
  background: $brand-grey;
  color: $brand-light-grey;
  z-index: 1;
}

.modal-escape {
  align-self: flex-end;
  padding: $gutter;
  color: $brand-orange;
  font-size: 1.5rem;
  cursor: pointer;

  &-active {
    display: none;
  }
}

.modal-title {
  padding: $gutter;
}

.modal-description {
  padding: $gutter;
}
