.sidebar {
  width: 30%;
}

.sidebar-image-container {
  position: relative;
  width: 100%;
  border-radius: $gutter;
  overflow: hidden;

  &:before {
    display: block;
    padding-top: 100%;
    content: '';
  }

  &__picture {
    position: absolute;
    // top: 0;
    // right: 0;
    // bottom: 0;
    // left: 0;
    margin: 0 0 0 0;
    width: 100%;
  }
}


.sidebar-profile {
  margin: 0;
  padding: $gutter 0;

  &__name {
    margin: 0;
    padding: $gutter 0;
  }

  &__year {
    margin: 0;
    padding: $gutter 0;
    // color: $brand-grey;
  }

  &__creators {
    margin: 0;
    padding: $gutter 0 0;
    border-bottom: $brand-border;
  }
}


// .creators {
//   padding: 0;
//
//   &__list-items {
//     padding: $gutter / 2 0;
//   }
// }
// }
