$brand-black: #272126;
$brand-dark-blue: #3E4E67;
$brand-light-blue: #3D9698;
$brand-white: #ecf0f1;
$brand-teal: #29CB9D;
$brand-lime: #86F10C;


$brand-sans: 'Open Sans', sans-serif;

$gutter: 0.5rem;
$max-container-width: 70rem;
$brand-border: 1px solid black;
$brand-border-radius: 0.4rem;

$modal-screen: rgba(0,0,0,0.8);
$brand-modal-bg: hsla(240,100%,50%, 0.7);
