$brand-grey: #2c3e50;
$brand-white: #ecf0f1;
$brand-navy: 	#000080;


$brand-sans: 'Open Sans', sans-serif;
$brand-display: 'Special Elite', sans-serif;
$brand-font-special: sans-serif;

$gutter: 0.5rem;
$container-width: 70rem;
$brand-border: 1px solid black;
$brand-border-radius: 0.4rem;

$modal-screen: rgba(0,0,0,0.8);
$brand-modal-bg: hsla(240,100%,50%, 0.7);







// $brand-navy: #2c3e50;
// $brand-white: #ecf0f1;
// $brand-dark-gray: #3b3b3b;
// $brand-font-reg: 'Maven Pro', sans-serif;
// $brand-font-special: 'Special Elite', sans-serif;
//
// $gutter: 1rem;
// $container-width: 60rem;
// $brand-modal-bg: rgba(0, 0, 0, 0.8);
// $brand-border: 1px solid #000;
// $brand-border-radius: 0.4rem;
